@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

*{
    padding:0;
    margin:0;
}

body{
    font-family: 'ADLaM Display', cursive;
    background-color: #003366;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



/*Menu Bar*/

.menu-bar{
    background-color:   #6CA6CD;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 2028;
    height: 100px;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    height: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

.menu-bar ul li::after{
    content: '';
    background-color: #003366;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

.menu-bar ul li a{
    text-decoration: none;
    color: white;
}

.active{
    background-color:  #003366;
    color: white;
}

.menu-bar ul li:hover{
    color: #fff;
}

.menu-bar ul li:hover::after{
    top: 50%;
    opacity: 1;
    color: white;
}

.centered {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 4.5em;
    width: 2000px;
    text-align: justify;
    color: black;
    transition: 0.8s;
}

.centered:hover{
    color: brown;
    transform: translate(15%, 15%) scale(1.3);
}


.wholediv{
    width: 100%;
    height: 90.1%;
    background-color:  #003366;
    display: flex;
    align-items: center;
    margin-left: -500px;
   
}

.swiper{
    width: 50%;
    height: fit-content;
    box-shadow: 10px 10px 10px;
    border-radius: 20px;
}

.swiper-slide img{
    width: 100%;
    border-radius: 20px;
    opacity: 80%;
    
}





.summary{
    width: 90px;
    background:  #003366;
    height: 900px;
    margin-left: -300px;
}

.sum{
    width: 300px;
    height: 475px;
    margin-top: 190px;
    margin-left: -50px;
    background-color: #6CA6CD;
    border: 10px solid #6CA6CD;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    color: white;
    text-align: justify;
    font-size: 1.4em;
    transition: 0.8s;
    transform: scale(1.4);
}

.sum:hover{
    transform: scale(1.5);
}

.sumtitle{
    font-size: 1.2em;
    text-align:left;
    color: rgb(212, 212, 212);
}

.line{
    width: 130px;
    height: 5px;
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    transition: 0.8s;
}

.sum:hover .line{
    width: 298px;
}
